.homeLayout {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.2fr 1fr 1fr;
    width: 95vw;
    margin: auto;
    height: 100%;
}

.title {
    grid-column-start: 1;
    grid-column-end: 2 span;
    margin-left: auto;
    margin-right: auto;
}

.suggestions {
    grid-column: 1;
}