form {
    background-color: rgb(0, 0, 0);
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    padding: 30px;
    border: 1px solid #000;
    height: auto;
}

.form {
    text-align: center;
}

.username {
    font-size: 18px;
    width: 15vw;
    height: 4vh;
    margin: 30px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #000;
}

.username:hover {
    border-bottom: 1px solid #ffff00;
}

.password {
    font-size: 18px;
    width: 15vw;
    height: 4vh;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #000;
}

.password:hover {
    border-bottom: 1px solid #ffff00;
}

.loginButton {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    border: 1px solid #000;
    background-color: #290dce;
    color: #d3ef35;
}

.button {
    background-color: #FFFFFF;
    border: 1px solid #222222;
    border-radius: 8px;
    box-sizing: border-box;
    color: #222222;
    cursor: pointer;
    display: inline-block;
    font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,"Helvetica Neue",sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    margin: 0;
    outline: none;
    padding: 13px 23px;
    position: relative;
    text-align: center;
    text-decoration: none;
    touch-action: manipulation;
    transition: box-shadow .2s,-ms-transform .1s,-webkit-transform .1s,transform .1s;
    user-select: none;
    -webkit-user-select: none;
    width: auto;
    height: auto;
  }

  .button:focus-visible {
    box-shadow: #222222 0 0 0 2px, rgba(255, 255, 255, 0.8) 0 0 0 4px;
    transition: box-shadow .2s;
  }
  
  .button:active {
    background-color: #F7F7F7;
    border-color: #000000;
    transform: scale(.96);
  }
  
  .button:disabled {
    border-color: #DDDDDD;
    color: #DDDDDD;
    cursor: not-allowed;
    opacity: 1;
  }
  

