.form {
    text-align: center;
}

.cardNumber {
    font-size: 18px;
    width: 15vw;
    height: 4vh;
    margin: 20px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #000;
}

.cardNumber:hover {
    border-bottom: 1px solid #ffff00;
}

.expirationDate {
    font-size: 18px;
    width: 10vw;
    height: 4vh;
    margin: 20px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #000;
}

.expirationDate:hover {
    border-bottom: 1px solid #ffff00;
}

.CVC {
    font-size: 18px;
    width: 3vw;
    height: 4vh;
    margin: 20px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #000;
}

.CVC:hover {
    border-bottom: 1px solid #ffff00;
}

.firstName {
    font-size: 18px;
    width: 13vw;
    height: 4vh;
    margin: 20px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #000;
}

.firstName:hover {
    border-bottom: 1px solid #ffff00;
}

.lastName {
    font-size: 18px;
    width: 13vw;
    height: 4vh;
    margin: 20px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #000;
}

.lastName:hover {
    border-bottom: 1px solid #ffff00;
}

.phone {
    font-size: 18px;
    width: 13vw;
    height: 4vh;
    margin: 20px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #000;
}

.phone:hover {
    border-bottom: 1px solid #ffff00;
}

.address {
    font-size: 18px;
    width: 13vw;
    height: 4vh;
    margin: 20px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #000;
}

.address:hover {
    border-bottom: 1px solid #ffff00;
}

.country {
    font-size: 18px;
    width: 13vw;
    height: 4vh;
    margin: 20px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #000;
}

.country:hover {
    border-bottom: 1px solid #ffff00;
}

.city {
    font-size: 18px;
    width: 13vw;
    height: 4vh;
    margin: 20px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #000;
}

.city:hover {
    border-bottom: 1px solid #ffff00;
}

.postalCode {
    font-size: 18px;
    width: 13vw;
    height: 4vh;
    margin: 20px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #000;
}

.postalCode:hover {
    border-bottom: 1px solid #ffff00;
}

.BOD {
    font-size: 18px;
    width: 13vw;
    height: 4vh;
    margin: 20px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #000;
}


.button {
    background-color: #FFFFFF;
    border: 1px solid #222222;
    border-radius: 8px;
    box-sizing: border-box;
    color: #222222;
    cursor: pointer;
    display: inline-block;
    font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,"Helvetica Neue",sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    margin: 0;
    outline: none;
    padding: 13px 23px;
    position: relative;
    text-align: center;
    text-decoration: none;
    touch-action: manipulation;
    transition: box-shadow .2s,-ms-transform .1s,-webkit-transform .1s,transform .1s;
    user-select: none;
    -webkit-user-select: none;
    width: auto;
    height: auto;
  }

  
  .button:focus-visible {
    box-shadow: #222222 0 0 0 2px, rgba(255, 255, 255, 0.8) 0 0 0 4px;
    transition: box-shadow .2s;
  }
  
  .button:active {
    background-color: #F7F7F7;
    border-color: #000000;
    transform: scale(.96);
  }
  
  .button:disabled {
    border-color: #DDDDDD;
    color: #DDDDDD;
    cursor: not-allowed;
    opacity: 1;
  }
  
.deleteButton {
    background-color: #FFFFFF;
    border: 1px solid red;
    border-radius: 8px;
    box-sizing: border-box;
    color: red;
    cursor: pointer;
    display: inline-block;
    font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,"Helvetica Neue",sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    margin: 0;
    outline: none;
    padding: 13px 23px;
    position: relative;
    text-align: center;
    text-decoration: none;
    touch-action: manipulation;
    transition: box-shadow .2s,-ms-transform .1s,-webkit-transform .1s,transform .1s;
    user-select: none;
    -webkit-user-select: none;
    width: auto;
    height: auto;
}

.deleteButton:active {
    background-color: #F7F7F7;
    border-color: red;
    transform: scale(.96);
  }